doctype html
html
  head
    title #{title} - chekimatumizi
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    header
      h1 cHeki mAtumizi
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p cHeki mAtumizi running on nodejs with express, jade & stylus with nib
