/*
*import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  font-family 'Quicksand'
  background-color background-color
  color #000

header
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

table
  border 1px #000

tr
  border 2px #000
  font-sixe 12px

th
  color #F00
  font-size 13px
  font-weight bold
  border 1px solid #00F

td
  color #00F
  font-size 13px
  font-weight bold
  border 1px solid #ccc

.container
  width 1000px
  margin 10px auto
  overflow hidden
  
.main-content
  margin 20px auto
  width 800px
  height 400px
  border-radius 3px
  overflow scroll
  p
    margin-bottom 20px

p
  line-height 1.8

footer
  padding 25px 10px
  font-weight bold
  color #fff
  font-size 15px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
